In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('NMC1-9.xlsx')

In [3]:
df.head(10)

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817
5        5  4.091        0.997      1  2.840817
6        6  4.090        0.996      1  2.840817
7        7  4.089        0.996      1  2.840817
8        8  4.089        0.995      1  2.840817
9        9  4.088        0.995      1  2.840817