In [1]:
import pandas as pd

### Load Data with Pandas

In [89]:
filename = 'assessments'
df=pd.read_csv(filename+'.csv')
df=df[df.isna().sum(axis=1)==0]

In [90]:
df.head(10)

   code_module code_presentation  id_assessment assessment_type   date  weight
0          AAA             2013J           1752             TMA   19.0    10.0
1          AAA             2013J           1753             TMA   54.0    20.0
2          AAA             2013J           1754             TMA  117.0    20.0
3          AAA             2013J           1755             TMA  166.0    20.0
4          AAA             2013J           1756             TMA  215.0    30.0
6          AAA             2014J           1758             TMA   19.0    10.0
7          AAA             2014J           1759             TMA   54.0    20.0
8          AAA             2014J           1760             TMA  117.0    20.0
9          AAA             2014J           1761             TMA  166.0    20.0
10         AAA             2014J           1762             TMA  215.0    30.0

### Connect with SqLite

In [91]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
    except Error as e:
        print('Error '+e+' occured')
    return connection

In [92]:
connection = create_connection('db.sqlite')

In [93]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print('Error '+e+' occured')

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 205
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code_module        195 non-null    object
 1   code_presentation  195 non-null    object
 2   id_assessment      195 non-null    int64
 3   assessment_type    195 non-null    object
 4   date               195 non-null    float64
 5   weight             195 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 10.7+ KB

### Create table and insert data to table

In [99]:
execute_query(connection, "drop table if exists assessments")

Query executed successfully

In [100]:
create_assessment_table = """
CREATE TABLE IF NOT EXISTS assessments (
code_module TEXT,
code_presentation TEXT,
id_assessment INT,
assessment_type TEXT,
date FLOAT,
weight FLOAT
)
"""

In [101]:
execute_query(connection, create_assessment_table)

Query executed successfully

In [102]:
for i in range(len(df)):
    query = '''INSERT INTO assessments(code_module,code_presentation,id_assessment,assessment_type,date,weight) VALUES ('{0}','{1}',{2},'{3}',{4},{5})'''\
    .format(df['code_module'].iloc[i],df['code_presentation'].iloc[i],df['id_assessment'].iloc[i],
               df['assessment_type'].iloc[i],df['date'].iloc[i],df['weight'].iloc[i])
    execute_query(connection,query)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

### Create select query and retrieve data

In [103]:
def select_query(conn,query):
    
    cur = conn.cursor()
    cur.execute(query)
    
    rows = cur.fetchall()
    
    return rows

In [104]:
Q = "SELECT * from assessments where code_presentation = '2014B'"
rows = select_query(connection,Q)

### Convert result to dataframe

In [105]:
# create DataFrame using data
df_filtered = pd.DataFrame(rows, columns =df.columns)

In [107]:
df_filtered.head(5)

  code_module code_presentation  id_assessment assessment_type   date  weight
0         BBB             2014B          15015             CMA   47.0     1.0
1         BBB             2014B          15016             CMA   82.0     1.0
2         BBB             2014B          15017             CMA  117.0     1.0
3         BBB             2014B          15018             CMA  152.0     1.0
4         BBB             2014B          15019             CMA  194.0     1.0

In [108]:
df_filtered.to_excel(filename+'.xlsx',index=False)

In [109]:
query

"INSERT INTO assessments(code_module,code_presentation,id_assessment,assessment_type,date,weight) VALUES ('GGG','2014J',37444,'Exam',229.0,100.0)"